<nav class="navbar sticky-top navbar-dark bg-dark text-white">
  <div class="container-fluid d-flex space-between">
    <div>
      <a class="navbar-brand">
        <%= link_to '<i class="fa-solid fa-otter text-white"></i>  EmoPet'.html_safe, root_path %>
      </a>
    </div>

    <% if user_signed_in? %>
      <div class="d-flex">
        <%= link_to "Log out", destroy_user_session_path, class: "nav-link navbar-nav me-3", data: {turbo_method: :delete}%>
        <%= link_to dashboard_path do %>
          <%= image_tag "avatar1.jpeg", class: "avatar" %>
        <% end %>
      </div>
    <% else %>
      <div >
        <%= link_to "Register", new_user_registration_path, class:"btn btn-sm btn-outline-secondary me-2" %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-outline-success me-2" %>
      </div>
    <% end  %>
  </div>
</nav>
