 <div class="container-main">
  <div class="row justify-content-center">
  <div class="col-sm-8">
    <%= form_with url: pets_path, method: :get, class: "search__container" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "search__input",
            placeholder: "Search for a pet",
            autocomplete: "off"
        %>
    <% end %>
    <button class="map-button" onclick="scrollToMap()">...or take me to map</button>
</div>
  </div>
</div>
  <div class="pet-container">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet), class: "pet-card" do %>
        <% if pet.image_url.empty? %>
          <%= cl_image_tag pet.photo.key, class: "pet-image"%>

        <% else %>

          <%= image_tag pet.image_url, class: "pet-image" %>

        <% end %>
        <div class="pet-text">
          <h2><%= pet.name %></h2>
          <p><%= pet.breed %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-3" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<script>
  function scrollToMap() {
    const mapSection = document.querySelector('.my-3');
    const yOffset = mapSection.getBoundingClientRect().top + window.scrollY;
    window.scrollTo({ top: yOffset, behavior: 'smooth' });
  }
</script>
