<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-show d-flex">
        <%= image_tag @pet.image_url, width: 400 %>
        <div class="card-info d-flex flex-column justify-content-between w-100">
          <div class="info d-flex flex-column shrink">
            <h1>
              <%= @pet.name %>
            </h1>
            <small style="color:grey">
              <%= @pet.breed %> <br>
            </small>
            <small>
              <%= @pet.address %>
              <%= @pet.description %>
            </small>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-booking">
        <h3> When do you want to have me? </h3>
        <%= render "bookings/form", pet: @pet, booking: @booking %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-reviews">
        <h3> Reviews </h3>
        <% if @pet.bookings.empty? %>
          <p>no reviews</p>
        <% else %>
          <% @pet.bookings.each do |booking| %>
            <%= render "reviews/card", review: booking.review %>
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
</div>
