<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-show d-flex">

        <% if @pet.image_url.nil? %>
          <%= cl_image_tag @pet.photo.key, class: "pet-image"%>
        <% else %>
          <%= image_tag @pet.image_url, class: "pet-image" %>
        <% end %>

        <div class="card-info d-flex flex-column">
          <div class="my-2">
            <h1>Meet <%= @pet.name %>!</h1><small class="tag"><%= @pet.breed %></small>
          </div>
          <div class="info d-flex flex-column shrink">
            <small class="mt-3">
              <strong class="mt-2">Description: </strong> <br>
                <%= @pet.description %> <br>
              <strong class="mt-2">Address: </strong> <br>
                <%= @pet.address %>
            </small>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-booking">
        <h3> When do you want to have me? </h3>
        <%= render "bookings/form", pet: @pet, booking: @booking %>
      </div>
    </div>

    <div class="col-12 col-lg-8">
    <div class="mt-4">
      <h3>You can pick me up here</h3>
      <div class="my-3" style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-reviews">
        <h3> Reviews </h3>
        <% if @pet.bookings.empty? %>
          <p>no reviews</p>
        <% else %>
          <% @pet.bookings.each do |booking| %>
           <% next if booking.review.nil? %>
            <%= render "reviews/card", review: booking.review %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
