<div class="container">
  <div class="row">
    <div id= "menu" class="col-3">
      <strong>MENU</strong>


        <button class="dashboard-button d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-calendar mx-2"></i><p class="my-0">MY BOOKINGS</p>
          </div>
        </button>


        <button class="dashboard-button d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-paw mx-2"></i><p class="my-0">MY PETS</p>
          </div>
        </button>


        <button class="dashboard-button d-flex">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-message mx-2"></i><p class="my-0"> <%= link_to "ADD A NEW PET", new_pet_path, style: "color: black;" %> </p>
          </div>
        </button>


      <br>
      <p>Account & Profile</p>

      <strong id="booking-navbar"><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}%></strong>
    </div>

    <div id="bookings" class="col-9">
      <div class="container">
        <div class="d-flex flex-column rounded-5 showcard">
          <div class="ps-4 py-3 border-bottom-custom">
            <strong> WELCOME !</strong>
          </div>


          <div class="ps-4 py-3 border-bottom-custom">
            <strong> MY BOOKINGS </strong>
          </div>

          <div class="border-bottom-custom">
            <% @my_bookings.each do |booking| %>

              <div class="card-my-bookings d-flex border-bottom-custom">
                  <div>
                    <% if booking.pet.image_url.nil? %>
                      <%= cl_image_tag booking.pet.photo.key, class: "img-my-bookings" %>
                    <% else %>
                      <%= image_tag booking.pet.image_url, class: "img-my-bookings" %>
                    <% end %>
                  </div>

                <div class="info-my-bookings m-3">
                  <h2><%= booking.pet.name %></h2>
                  <p><%= booking.pet.breed %></p>

                  <div class="inside d-flex justify-content-between align-items-center">
                    <button class="m-4 btn btn-dark showcard-form-button d-flex px-4">
                      <div class="d-flex align-items-center">
                        <p class="my-0"> <%= link_to "ADD A REVIEW", new_booking_review_path(booking) %> </p>
                      </div>
                    </button>

                    <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, data: {turbo_method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger' %>

                  </div>

                </div>

              </div>
            <% end %>

          </div>

          <div class="ps-4 py-3 border-bottom-custom">
            <strong> MY PETS </strong>
          </div>
          <div class="border-bottom-custom">
            <% @my_pets.each do |pet| %>

              <div class="card-my-bookings d-flex border-bottom-custom">
                  <div>
                    <% if pet.image_url.nil? %>
                      <%= cl_image_tag pet.photo.key, class: "img-my-bookings" %>
                    <% else %>
                      <%= image_tag pet.image_url, class: "img-my-bookings" %>
                    <% end %>
                  </div>

                <div class="info-my-bookings m-3">
                  <h2><%= pet.name %></h2>
                  <p><%= pet.breed %></p>

                  <div class="inside d-flex justify-content-between align-items-center">

                    <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, data: {turbo_method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger' %>

                  </div>

                </div>

              </div>
            <% end %>
          </div>


        </div>
      </div>

    </div>
    </div>
</div>
