<div class="row">
  <div class="col-6 m-auto">
    <h1>New review</h1>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, label: 'Rating (0-5)', collection: 0..5 %>
      <%= f.hidden_field :booking_id, value: params[:id] %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Go back", booking_path(@booking) %>

  </div>

</div>
